.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.background-text {
  position: -webkit-sticky;
  position: sticky;
  top: auto;
  z-index: auto;
  display: block;
  margin: auto 0px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  opacity: 1;
  font-family: 'Gt cinetype', Arial, sans-serif;
  color: #000;
  font-size: 14vw;
  line-height: 100%;
  font-weight: 300;
  cursor: default;
}

.grid-section {
  position: relative;
  top: 0%;
  z-index: 1;
  margin: 0% 30px 20%;
}

.grid-section.grid {
  position: fixed;
  z-index: 2;
  display: block;
  height: 200vh;
  margin-right: 0px;
  margin-bottom: 0%;
  margin-left: 0px;
}

.grid-section.grid.main {
  position: relative;
  z-index: auto;
  height: 100vh;
  background-color: transparent;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
  text-decoration: none;
}

.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-white-button {
  padding: 16px 35px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-heading {
  margin-bottom: 30px;
}

.body {
  background-color: #000;
  font-family: 'Gt cinetype', Arial, sans-serif;
  color: #000;
  font-weight: 300;
}

.body.main {
  background-color: #000;
  font-family: 'Gt cinetype', Arial, sans-serif;
  color: #000;
  font-size: 1.2vh;
  line-height: 1.5vh;
  font-weight: 300;
}

.link {
  display: block;
  color: #fff;
}

.grid {
  z-index: auto;
  grid-auto-flow: row;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.grid-project {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -ms-grid;
  display: grid;
  overflow: visible;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-auto-rows: 8.3vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ". . . . . . ."
    ". Area-1 Area-1 Area-2 Area-2 Area-3 Area-3"
    ". Area-1 Area-1 Area-2 Area-2 Area-3 Area-3"
    ". . . . . . ."
    ". Area-4 Area-4 Area-5 Area-5 Area-6 Area-6"
    ". Area-4 Area-4 Area-5 Area-5 Area-6 Area-6"
    ". . . . . . ."
    ". Area-7 Area-7 Area-8 Area-8 Area-9 Area-9"
    ". Area-7 Area-7 Area-8 Area-8 Area-9 Area-9"
    ". . . . . . ."
    ". Area-10 Area-10 Area-11 Area-11 Area-12 Area-12"
    ". Area-10 Area-10 Area-11 Area-11 Area-12 Area-12";
  -ms-grid-columns: 14.28vw 0px 14.28vw 0px 14.28vw 0px 14.28vw 0px 14.28vw 0px 14.28vw 0px 14.28vw;
  grid-template-columns: 14.28vw 14.28vw 14.28vw 14.28vw 14.28vw 14.28vw 14.28vw;
  -ms-grid-rows: 8.33vh 0px 8.33vh 0px 8.33vh 0px 8.33vh 0px 8.33vh 0px 8.33vh 0px 8.33vh 0px 8.33vh 0px 8.33vh 0px 8.33vh 0px 8.33vh 0px 8.33vh;
  grid-template-rows: 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh;
  font-size: 11px;
  line-height: 14px;
}

.grid-project.main {
  width: 100vw;
  grid-auto-columns: 14.28vw;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-rows: 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh;
  grid-template-rows: 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh;
  text-decoration: none;
}

.grid-project.main.project {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}

.grid-project.about {
  height: 100vh;
  grid-auto-flow: row;
  grid-row-gap: 1px;
  -ms-grid-rows: 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh;
  grid-template-rows: 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh;
  background-color: transparent;
}

.grid-project.start {
  position: absolute;
  z-index: 10;
  width: 100vw;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-rows: 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh;
  grid-template-rows: 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh;
  font-family: 'Gt cinetype', Arial, sans-serif;
  color: #000;
  font-size: 1.2vh;
  line-height: 1.5vh;
  font-weight: 300;
}

.div-plus {
  width: 15px;
  height: 15px;
  margin-top: -8px;
  margin-left: -8px;
}

.div-plus.canvas {
  margin-top: -8px;
  margin-left: -8px;
}

.div-grid {
  margin-top: 0px;
  margin-left: 0px;
  text-decoration: none;
}

.div-grid.project-a {
  font-family: 'Gt cinetype', Arial, sans-serif;
  color: #000;
  font-size: 1.2vh;
  line-height: 1.5vh;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.div-grid.link {
  font-family: 'Gt cinetype', Arial, sans-serif;
  color: #000;
  font-size: 1.2vh;
  line-height: 1.5vh;
  font-weight: 300;
  text-decoration: none;
}

.text-block-grid {
  padding-top: 0px;
  padding-left: 15px;
  font-family: 'Gt cinetype', Arial, sans-serif;
  color: #fff;
  font-size: 1.2vh;
  line-height: 1.5vh;
  text-decoration: none;
  text-transform: uppercase;
}

.text-block-grid.canvas {
  padding-left: 8px;
  font-family: 'Gt cinetype', Arial, sans-serif;
  color: #000;
  font-size: 1.2vh;
  line-height: 1.5vh;
  font-weight: 300;
}

.text-block-grid.canvas.imprint {
  font-size: 6px;
  line-height: 8px;
}

.text-block-grid.canvas {
  font-size: 1.2vh;
  line-height: 1.5vh;
}

.text-block-grid.canvas.imprint {
  font-family: 'Gt cinetype', Arial, sans-serif;
  font-size: 0.6em;
  line-height: 1.3em;
  font-weight: 300;
}

.text-block-grid.main {
  padding-right: 20px;
  padding-left: 8px;
  font-size: 1.2vh;
  line-height: 1.5vh;
}

.html-embed-video-background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  opacity: 0.51;
  text-decoration: none;
}

.html-embed-video-background.main {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  opacity: 0.75;
  mix-blend-mode: normal;
}

.canvas-flag {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  display: block;
  width: 100vw;
  height: 100vh;
}

.canvas-grid {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  cursor: crosshair;
}

.canvas-grid.about {
  background-color: #fff;
  font-family: 'Gt cinetype', Arial, sans-serif;
  color: #000;
  font-size: 1.2vh;
  line-height: 1.5vh;
  font-weight: 300;
}

.text-description {
  font-family: 'Gt cinetype', Arial, sans-serif;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}

.html-embed-3 {
  display: block;
}

.link-block-8 {
  text-decoration: none;
}

.scroll-here {
  height: 1px;
}

.about-me-grid {
  position: relative;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 991px) {
  .background-text {
    font-size: 14vw;
    line-height: 70px;
  }

  .grid-section {
    margin-top: 0%;
  }

  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .html-embed-3 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .background-text {
    font-size: 50px;
    line-height: 64px;
  }

  .grid-section {
    margin-top: 0%;
    margin-right: 15px;
    margin-left: 15px;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .canvas-flag {
    display: none;
  }

  .html-embed-3 {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .background-text {
    left: 15px;
    right: 15px;
    color: #fff;
    font-size: 14vw;
    line-height: 48px;
  }

  .grid-section {
    margin-top: 0%;
    margin-left: 15px;
  }

  .body.main {
    background-color: #fff;
  }

  .text-block-grid {
    font-size: 0.8vh;
    line-height: 1vh;
  }

  .text-block-grid.canvas {
    padding-left: 0px;
    font-size: 0.8vh;
    line-height: 1vh;
  }

  .canvas-flag {
    display: none;
  }

  .text-description {
    font-size: 0.8vh;
    line-height: 1vh;
  }

  .html-embed-3 {
    display: none;
  }

  .plus {
    width: 10px;
  }
}

#w-node-_0f399035-cc88-305b-e53b-5fb4605c1ac8-468ed541 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: Area-1;
}

#w-node-_29e7c3b4-2482-8340-ff8b-863586d4aabf-468ed541 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 2;
  grid-column-end: 6;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
}

#w-node-_29e7c3b4-2482-8340-ff8b-863586d4aac4-468ed541 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 2;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
}

#w-node-_3b1393e9-6491-1f7c-93f3-b100cd9e4db3-468ed541 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: Area-4;
}

#w-node-_29e7c3b4-2482-8340-ff8b-863586d4aac9-468ed541 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 2;
  grid-column-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 2;
  grid-row-end: 7;
}

#w-node-_29e7c3b4-2482-8340-ff8b-863586d4aace-468ed541 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 2;
  grid-column-end: 8;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 2;
  grid-row-end: 7;
}

#w-node-_29e7c3b4-2482-8340-ff8b-863586d4aad1-468ed541 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 2;
  grid-row-end: 10;
}

#w-node-_29e7c3b4-2482-8340-ff8b-863586d4aad9-468ed541 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 2;
  grid-column-end: 6;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 2;
  grid-row-end: 10;
}

#w-node-_29e7c3b4-2482-8340-ff8b-863586d4aadf-468ed541 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 2;
  grid-column-end: 8;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 2;
  grid-row-end: 10;
}

#w-node-_29e7c3b4-2482-8340-ff8b-863586d4aad6-468ed541 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 2;
  grid-row-end: 13;
}

#w-node-_29e7c3b4-2482-8340-ff8b-863586d4aae2-468ed541 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 2;
  grid-column-end: 6;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 2;
  grid-row-end: 13;
}

#w-node-_29e7c3b4-2482-8340-ff8b-863586d4aae5-468ed541 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 2;
  grid-column-end: 8;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 2;
  grid-row-end: 13;
}

#w-node-_5081551a-b14b-8794-3975-b71d019e3904-468ed541 {
  -ms-grid-row: 21;
  -ms-grid-row-span: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-area: Area-12;
}

#w-node-_59633721-91c4-f302-b0fc-c07071a2c11b-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-area: Area-9;
}

#w-node-_59633721-91c4-f302-b0fc-c07071a2c128-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: Area-7;
}

#w-node-_59633721-91c4-f302-b0fc-c07071a2c132-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: Area-8;
}

#w-node-_8ef457c0-9a00-2b30-a910-0b5a46990d17-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-area: Area-9;
}

#w-node-_8ef457c0-9a00-2b30-a910-0b5a46990d24-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: Area-7;
}

#w-node-_8ef457c0-9a00-2b30-a910-0b5a46990d2e-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: Area-8;
}

#w-node-_50be915a-b711-42e5-63f8-114316b018f4-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-area: Area-9;
}

#w-node-_50be915a-b711-42e5-63f8-114316b01901-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: Area-7;
}

#w-node-_50be915a-b711-42e5-63f8-114316b0190b-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: Area-8;
}

#w-node-_08f87023-d408-deb1-245f-8a0f5d1e9b0d-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-area: Area-9;
}

#w-node-_08f87023-d408-deb1-245f-8a0f5d1e9b21-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: Area-7;
}

#w-node-_08f87023-d408-deb1-245f-8a0f5d1e9b2b-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: Area-8;
}

#w-node-e7e5c25c-fdb1-5805-5aa1-8ebb6a099e2f-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-area: Area-9;
}

#w-node-e7e5c25c-fdb1-5805-5aa1-8ebb6a099e3c-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: Area-7;
}

#w-node-e7e5c25c-fdb1-5805-5aa1-8ebb6a099e46-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: Area-8;
}

#w-node-_3846d19c-19b5-96d0-5380-32cbb0d812c8-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-area: Area-9;
}

#w-node-_3846d19c-19b5-96d0-5380-32cbb0d812d1-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: Area-7;
}

#w-node-_3846d19c-19b5-96d0-5380-32cbb0d812db-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: Area-8;
}

#w-node-cc8a485e-07be-f1a6-198a-a6fd79209498-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-area: Area-9;
}

#w-node-cc8a485e-07be-f1a6-198a-a6fd792094a5-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: Area-7;
}

#w-node-cc8a485e-07be-f1a6-198a-a6fd792094b0-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: Area-8;
}

#w-node-b419a79a-56cf-61e8-c0d9-e3d1770c9a70-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-area: Area-9;
}

#w-node-b419a79a-56cf-61e8-c0d9-e3d1770c9a81-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: Area-7;
}

#w-node-b419a79a-56cf-61e8-c0d9-e3d1770c9a8b-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: Area-8;
}

#w-node-_44dcdb1b-19e0-9c0d-3b41-607081d60e38-468ed541 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 5;
  grid-column-end: 7;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 2;
  grid-row-end: 13;
}

#w-node-_12cb86b7-35e6-01c8-7409-4a1eb1afdfb8-468ed541 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: Area-1;
}

#w-node-_152b7901-42a4-fc0c-369e-bd203ea33f7d-468ed541 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: Area-2;
}

#w-node-_3260ab5b-5559-9219-90b8-d1219e25bd58-468ed541 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-area: Area-3;
}

#w-node-c41c072b-61a4-4f3e-5b7f-4a7808bb38e6-468ed541 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: Area-4;
}

#w-node-e7fe8c5c-c99b-c45f-1c65-a0742731a2fc-468ed541 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: Area-5;
}

#w-node-_45dbfc0a-17be-d851-82f7-8646025daf9f-468ed541 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-area: Area-6;
}

#w-node-_85c7f840-c633-0d63-ca05-955ba925b2b4-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: Area-7;
}

#w-node-_32093201-91f3-2108-8e9f-6653d4fabc9e-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: Area-8;
}

#w-node-_091c1117-c460-f38b-3593-cc919884a95a-468ed541 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-area: Area-9;
}

@font-face {
  font-family: 'Gt cinetype';
  src: url('../fonts/GT-Cinetype-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}