.section-1 {
  overflow: hidden;
  height: 100vh;
}

.section-2 {
  height: 100vh;
}

.section-3 {
  height: 25em;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.body {
  font-family: AlteHaasGrotesk, Arial, sans-serif;
  color: #ccc;
  font-size: 0.7em;
  line-height: 1.4em;
  text-transform: uppercase;
}

.heading {
  font-weight: 400;
}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5em;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.aboutme-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.grey-link {
  color: #ccc;
  text-decoration: none;
}

.interaction-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  line-height: 1.2em;
}

.interaction-text {
  position: relative;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.section-1-trigger {
  position: absolute;
  left: 0%;
  top: 10vh;
  right: 0%;
  bottom: auto;
  height: 10px;
}

.slider {
  height: 100vh;
  background-color: transparent;
}

.mask {
  height: 130vh;
}

.section-4 {
  position: relative;
  z-index: 1;
  height: 10em;
  padding-top: 0.5em;
  padding-right: 2em;
  padding-left: 2em;
  background-color: #f8f5f5;
}

.section-3-trigger {
  position: relative;
  top: 5em;
  height: 10px;
  align-items: flex-start;
}

.video-container {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.describtion-container {
  height: 25em;
  max-width: 100vw;
  padding-top: 0.5em;
  padding-right: 2em;
  padding-left: 2em;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.paragraph {
  margin-bottom: 0px;
}

.describtion-text {
  margin-bottom: 0px;
  font-size: 1.2em;
  text-transform: none;
}

.slide-nav {
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  font-size: 5px;
}

.right-arrow {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 45vw;
  cursor: e-resize;
}

.left-arrow {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 45vw;
  cursor: w-resize;
}

.column-head {
  margin-bottom: 3em;
}

.html-embed {
  position: relative;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  max-width: 100vw;
  padding-top: 0.5em;
}

.image-container {
  display: flex;
  height: 100vh;
  max-height: 100%;
  max-width: 65%;
  justify-content: center;
  align-items: center;
  transform: scale(1);
}

.column-title {
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
}

.column-1 {
  padding-right: 10px;
}

.icon {
  display: none;
}

.image-slide {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.column-6 {
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
}

.column-4 {
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
}

.mask-2 {
  overflow: visible;
}

.left-arrow-2 {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 50vw;
  height: 75vh;
  cursor: w-resize;
}

.description-container {
  position: relative;
  top: -45px;
  max-width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

.columns-331212 {
  margin-bottom: 25px;
}

.slide-nav-2 {
  position: relative;
  top: -100px;
  display: block;
  font-size: 6px;
}

.gallery-slider {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: transparent;
}

.right-arrow-2 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 50vw;
  height: 75vh;
  cursor: e-resize;
}

.paragraph-13 {
  margin-bottom: auto;
}

.bottom-link {
  color: #ccc;
  text-decoration: none;
}

.bottom-paragraph {
  margin-bottom: 0px;
}

@media screen and (max-width: 991px) {
  .header {
    z-index: 1;
  }
}

@media screen and (max-width: 479px) {
  .header {
    top: 65px;
  }

  .image-container {
    height: 100vh;
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }

  .column-1 {
    margin-bottom: 20px;
  }

  .column-5 {
    display: none;
  }

  .column-2 {
    display: none;
  }

  .column-3 {
    display: none;
  }

  .column-6 {
    display: none;
  }

  .column-4 {
    display: none;
  }

  .description-container {
    padding-right: 7px;
    padding-left: 7px;
  }
}

@font-face {
  font-family: 'AlteHaasGrotesk';
  src: url('../fonts/AlteHaasGroteskRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AlteHaasGrotesk';
  src: url('../fonts/AlteHaasGroteskBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}